@use "./variables";

.field {
  display: flex;
  flex-direction: column;
  gap: .25rem;

  label {
    font-size: $labelSize;
    color: $pokeyellow;
  }
}

@media (min-width: 1024px) {
  .field {
    width: 100%;

    label {
      font-size: $labelSize-lg;
    }
  }
}

.checkbox {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .loaderbutton {
    background-color: $pokeyellow;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: 300ms ease all;
    transform-origin: center center;
    transform: rotateY(0);

    &.close {
      transform: rotateY(180deg);
      transition: 300ms ease all;
    }

    img {
      width: 80%;
      height: 80%;
      object-fit: contain;
    }
  }


}



select {
  border-radius: 3rem;
  background-color: $lightgray;
  border: none;
  padding: .25rem .5rem;
}

input {
  padding: .5rem .5rem;
  border: none;
  background-color: rgba(255, 255, 255, .3);
  border-radius: 3rem;
  color: #fff;

  &:disabled {
    opacity: .2;
  }
}

.formbutton {
  border-radius: 3rem;
  background-color: $lightgray;
  color: $pokeblue;
  font-size: $labelSize;
  border: none;
  padding: .5rem 1rem;

  &.cancel {
    background-color: $pokeyellow;
  }
}

@media (min-width: 1024px) {
  .formbutton {
    font-size: $labelSize-lg;
  }
}


.radios {
  display: flex;
  gap: .5rem;

  .radio {
    display: flex;
    gap: 0;

    label {
      opacity: .7;
      padding: 0 .5rem;
    }

    &.active label {
      font-weight: 700;
      opacity: 1;
    }
  }
}

.disabled {
  opacity: .2;
}

.interface {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  top: 10svh;
  right: 0;
  width: calc(100vw - 1rem);
  height: calc(90svh - 1.5rem);
  padding: 1rem;
  margin: 0 .5rem;

  pointer-events: none;
  opacity: 0;
  background-color: $pokeblue;
  color: #fff;
  border-radius: 10px;
  transition: all 500ms ease;

  &.open {
    display: flex;
    pointer-events: all;
    top: .5rem;
    z-index: 102;
    opacity: 1;
    transition: all 500ms ease;
  }

  label,
  .label {
    color: $pokeyellow;
    font-size: 1em;
  }
}

.interface.pulse.open {
  opacity: .5;
  pointer-events: none;
  transition: all 300ms ease;
}

@media (min-width: 1024px) {
  .interface {
    width: fit-content;
    min-width: 25vw;
    right: -10%;
    translate: 0 0;
    top: 2rem;

    &.open {
      top: 2rem;
      right: 2rem;
    }
  }
}