@use "./variables";

.options {
	color: white;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	padding: 0;
	margin: 0.75rem;
	height: calc(40svh - 3rem);
	overflow: scroll;

	.field {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
	}

	.checkbox {
		display: flex;
		gap: 0.5rem;
	}

	.radio {
		display: flex;
		gap: 0.25rem;
	}

	.radios {
		display: flex;
		gap: .5rem;
	}

	button {
		border: none;
		background: variables.$accent;
		border-radius: 0;
		padding: .25rem;
		cursor: pointer;
		&:hover {
			opacity: .7;
		}
	}
}

@media (min-width: 1200px) {
	.options {
		gap: 2rem;
		padding: 5vw 2.5vw;
		margin: 0;
		height: unset;
	}
}
