$pokeyellow: #F1E668;
$pokeblue: #1f2573;
$primary: #095d58;
$secondary: #9c3046;
$accent: #fde12d;
$lightgray: #cacaca;
$cardsh: 90vh;
$cardw: 10vw;
$cardwm: 27vw;
$pagepadding: 1.5rem;
$cardsgap: .75rem;
$cardh: 20vh;
$labelSize: .8em;
$labelSize-lg: 1em;