$pokeyellow: #F1E668;
$pokeblue: #1f2573;
$primary: #095d58;
$secondary: #9c3046;
$accent: #fde12d;
$lightgray: #cacaca;
$cardsh: 90vh;

$cardw: 10vw;
$cardh: 29vh;

$cardwm: 30vw;
$pagepadding: 2vh;
$cardsgap: 1vh;
$labelSize: .8em;
$labelSize-lg: 1em;