.wrapper {
	height: 100svh;
	width: 100vw;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 1vh;
}

@media (min-width: 1200px) {
	.wrapper {
		display: grid;
		grid-template-areas:
			"side main"
			"side bottom";
		grid-template-columns: 1fr 4fr;
		grid-template-rows: 5fr 1fr;
		gap: 0;
	}
}

.binder-wrapper {
	grid-area: main;
}

.options {
	grid-area: side;
}

.buttons {
	grid-area: pages;
}

@media (min-width: 1024px) {
	.buttons {
		grid-area: bottom;
	}
}
